@charset "utf-8";
/* CSS Document */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
// caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
img{border:0; vertical-align:middle}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}

sup{ vertical-align: text-top; }
sub{ vertical-align: text-bottom; }
.jianju_x{clear:both; height:10px;}
html{-webkit-text-size-adjust:none;/*解决谷歌小于12px字体*/}

/*layout*/

body.curr{
	background-color:#ffffff;
}
body {
	font-size:13px;
	font-family: "Microsoft YaHei";
	color:#666666;
}
a:link {
	color:#555555;
	text-decoration:none;
}
a:visited {
	color:#555555;
	text-decoration:none;
}
a:hover {
	color:#147bca;
	text-decoration:none;
}
.head {
	width:100%;
	height:auto;
	background-color:#ffffff;
}

//注册登录页面

.log_whole {
  position: absolute;
  //overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(/assets/log_in.png) no-repeat center center;
  background-size: cover;
}

.log_action {
  color: white;
  width:50%;
  height:50%;
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
}

.log_all {
  margin-top: 10px;
  line-height: 23px;
  text-align: center;
  width: 330px;
  height: 30%;
  margin: 0 auto;
  clear: both;
}
.log_info {
  font-size: 18px;
  margin-top: 10px;
}
.log_but {
  text-align: center;
  line-height: 42px;
  margin-top: 40px;
  margin-left: 25px;
}
.log_but input {
  display: block;
  width: 230px;
  margin: 0 auto;
  height: 35px;
  text-align: center;
  border: 0;
  background-color: #50bbb6;
  font-size: 18px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.log_in {
  text-align: center;
  margin-top: 15px;
  line-height: 20px;
}


// 后台首页导航栏

.menu-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	color: #fff;
	background: #05847d;
}
.menu-wrap span {
	color: #fff;
}
.menu-wrap a {
	display: block;
	padding: 12px 20px;
}
.menu-wrap a span {
	-webkit-transition: opacity 0.3s ease-in-out 0.3s;
	-o-transition: opacity 0.3s ease-in-out 0.3s;
	-moz-transition: opacity 0.3s ease-in-out 0.3s;
	-ms-transition: opacity 0.3s ease-in-out 0.3s;
	transition: opacity 0.3s ease-in-out 0.3s;
	opacity: 0.7;
}
.menu-wrap .ph {
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: opacity 0.3s;
	opacity: 0.7;
}

.menu-wrap .list-header {
	padding: 10px 15px;
	line-height: 18px;
	color: #848C93;
}
.menu-wrap a:hover .ph, .menu-wrap a:hover span, .menu-wrap a:hover .down-list {
	opacity: 1;
}
.op-list a:hover {
	opacity: 1;
	padding-left: 3px;
}
.active .op-list {
	height: 200px;
}
.menu-wrap .active-link, .menu-wrap .active-link span, .menu-wrap .active-link i {
	opacity: 1;
}
.content-container {
	padding: 24.5px 30px 30px 235px;
}
