<ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="test">
<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">财务管理</a>
    <dl class="layui-nav-child">
      <dd><a href="/admin/accounts">账户管理</a></dd>
      <dd><a href="/admin/finance_types">收支类型管理</a></dd>
      <dd><a href="/admin/">账目管理</a></dd>
      <dd><a href="http://www.baidu.com">跳转</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">教务管理</a>
    <dl class="layui-nav-child">
      <dd><a href="/admin/employees">员工管理</a></dd>
      <dd><a href="/admin/">学生管理</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;">财务管理</a>
    <dl class="layui-nav-child">
      <dd><a href="/admin/accounts">账户管理</a></dd>
      <dd><a href="">收支类型管理</a></dd>
      <dd><a href="">账目管理</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="/admin/accounts">test</a></li>
  <li class="layui-nav-item mt100"><%= link_to "退出登录", destroy_user_session_path, method: :delete %></li>
</ul>

<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;

  //…
});
</script>

