<ul>
  <li class="active-link">
    <a href="">
      <i class="ph hp-lg"></i>
      <span>学生管理</span>
    </a>
  </li>
  <li class="active-link">
    <a href="">
      <i class="ph mana-lg"></i>
      <span>员工管理</span>
    </a>
  </li>
  <li>
    <a href="">
      <i class="ph tc-lg"></i>
      <span>账户管理</span>
    </a>
  <li/>
  <li>
    <a href="">
      <i class="ph tc-lg"></i>
      <span>收支管理</span>
    </a>
  <li/>
  <li>
    <a href="">
      <i class="ph tc-lg"></i>
      <span>账目统计</span>
    </a>
  <li/>
  <li class="mt100">
    <a href="/users/sign_out">
      <i class="ph tc-lg"></i>
      <span>退出登录</span>
    </a>
  <li/>
</ul>
